<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Timothy McCoy</title>

	<link rel="stylesheet" type="text/css" href="css/component.css" />

	
</head>
<body>

	<!-- Component -->
    <header>
<h1></h1><a class="painting" href="#">Painting<span>Services</span></a>
<section>
<p class="number">Need Help?<strong><a class="halp" href="callto:#">800-2345-679</a></strong></p>
<time>Hours: 6am-4pm PST M-Th; 6am-3pm PST Fri</time>
</section>
<nav>
<ul class="nav">
	<li><a href="#">Home</a>
		<ul>
			<li>lorem</li>
			<li>lorem</li>
			<li>lorem</li>
		</ul>
	</li>
	<li><a href="#">About</a></li>
	<li><a href="#">Services</a></li>
	<li><a href="#">Gallery</a></li>
	<li><a href="#">Contacts</a></li>
    </ul>

</nav>


</header>
	<!-- End Component -->
	
</body>
</html>




<!--<div>
	<p></p>
	<article>
    	<p></p>
     </article>
</div>

div p { ... } // effects both
div > p { ... } //



p { color: green; }
p.hoodie { color: blue; }



p:not(:last-of-type) { ... }
-->
