<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Timothy McCoy</title>

	
	<link rel="stylesheet" type="text/css" href="css/component.css" />

	
</head>
<body>

	<!-- Component -->
<header><h1>Our Great Features:</h1></header>
<section>
<article>
<a href="#">Aenean nonummy hendrerit</a>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus.</p>
</article>
<article>
<a href="#">Lorem ipsum dolor</a>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus.</p>
</article>
<article>
<a href="#">Nulla facilisi</a>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus.</p>
</article>
</section>


<section>
<article>
<a href="#">Vestibulum ante</a>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus.</p>
</article>
<article>
<a href="#">Consectetuer adipiscing elit</a>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus.</p>
</article>
<article>
<a href="#">In faucibus orci luctus</a>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus.</p>
</article>
</section>
<p class="buttonp"><a href="#">See All Features</a></p>
	<!-- End Component -->
	
</body>
</html>