<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Timothy McCoy</title>

	<link rel="stylesheet" type="text/css" href="css/component.css" />

	
</head>
<body>

	<!-- Component -->
<section>
<article>
<h1>Striving to excellence in everything we do!
</h1>
<aside class="previous"></aside>
<aside class="next"></aside>
<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
<p id="buttonpos"><a href="http://www.google.com">Join Our Team</a></p>
</article>
</section>
	<!-- End Component -->
	
</body>
</html>