/* Project CSS 
============================================================
============================================================*/
body{
	max-width: 1280px;
	background-color: black;
	margin: 0 auto;
	
	}
	#container{
		text-align: center;
		padding: 50px;
		float: right;
		width: 95%;
		}
		

/* HEADER ============================== */
section{
	color: black;
	margin: 50px;
	border: 1px solid black;
	padding: 20px;
	}
	
	header{
		color: white;
		margin: 20px;
		}
/* ABOUT ============================== */
section{
	background-color: cornsilk;
	width: 45%;
	margin: 0 auto;
	}
/* COMPONENTS ============================== */
img, iframe{
	width: 100%;
	}
	
	.buttonp a{
					text-decoration: none;
					margin: 46px 0px 0px 0px;
					padding: 23px 36px;
					display: inline-block;
					color: white;	
					border: solid 2px #8b9098;
					background: linear-gradient(to right, #8b9098 50%, #000 50%);
					background-size: 200% 100%;
					background-position: right bottom;
					transition: background 0.2s ease-in;
					}
					.buttonp{
						text-align: center;
						}
.buttonp a:hover {
    background-position: left bottom;
}



/*TYPOGRAPHY
*/
h1{
	font-size: 2em;
	}
	
	h2{
		font-size: 1.5em;
		}
	
	h3{
		font-size: 1em;
		}
	
	h4{
		font-size: .5em;
		}
	
	
	h5{
		font-size: .5em;
		}
	
	h6{
		font-size: .5em;
		}
	
	